*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

body > h1 {
  margin: 1.5rem 0;
  font-family: Helvetica, sans-serif;
  color: #333;
}

.row-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 1rem 0; */
    position: relative;
    width: 100%;
}

#logo{
    width: 40%;
}

#submit-button {
    width: 30%;
    height: 50px;
    border-radius: 3px;
    background-color: #333;
    color: #fff;
    font-family: Helvetica, sans-serif;
    font-size: 1.2rem;
    border: none;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 1rem 0; */
    position: relative;
    height: 100%;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 2%
}

#video-container{
    position: relative;
    width: 100%;
    height: 512px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.elem{
    margin: 5px 0;
    width: 95%;
    font-family: Helvetica, sans-serif;
    word-wrap: break-word;
    border-radius: 3px;
    height: 30px;
    padding: 0 2%;
}

.frame{
  width: 90%;
  height: 100%;
  position: relative;
  border: 5px solid;
}

/*//////////////////////////////MENU/////////////////////////////*/

.menus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    position:relative;
    margin: 8% 0;
    width: 100%;
}

.menus select {
    display: none; /*hide original SELECT element: */
}

.select-selected {
    width: 100%;
    border-radius: 3px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 40%;
    right: 5%;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 25%;
}

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
    color: #ffffff;
    padding: 8px 16px;
    background-color: #333;
    border: 1px solid transparent;
    cursor: pointer;

}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

/* Style items (options): */
.select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-items div:hover {
  background-color: darkblue
}

/*/////////////////////////////FINE MENU//////////////////////////*/

.player {
  width: 511px;
  max-width: 512px;
  position: relative;
  font-size: 0;
  overflow: hidden;
  display: none;
  /* transform: translate(-80%, -15%); */
}

.controls__btn {
  background: none;
  border: 0;
  line-height: 1;
  color: white;
  text-align: center;
  outline: 0;
  padding: 0;
  cursor: pointer;
  max-width: 50px;
}

#controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  flex-wrap: wrap;
  background: rgb(0 0 0);
  transform: translateY(0);
  z-index: 20;
}

#controls > * {
  flex: 1;
}

#progress_bar {
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 5px;
  /* background: rgba(0,0,0,0.5); */
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  height: 15px;
}

#progress_bar_filled {
  width: 50%;
  background: #AA5500;
  flex: 0;
  flex-basis: 0%;
}

/*/////////////////////// SPINNER /////////////////////*/
div.spinner {
  height: 60px;
  width: 60px;
  top: 45%;
  left: 47%;
  position: fixed;
  border-radius: 50%;
  border: dashed 5px #000000;
  animation-name: loader-spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes loader-spin {
  from   {  transform: rotate(0deg); }
  to     {  transform: rotate(360deg); }
}
/*/////////////////////// FINE SPINNER /////////////////////*/