<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">-->
        <title>Music Shaper</title>
        <link rel="stylesheet" href="/static/style.css"/>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>

        <img id="title" src="/static/gui_logo.jpg">

        <div class="label-container">
            <div class="label">
                <label for="song"></label>
                <input type="text" id="song" placeholder="Insert Song's Title">
            </div>

            <div class="label">
                <label for="artist"></label>
                <input type="text" id="artist" placeholder="Insert Artist's Name">
            </div>

            <div>
                <button type="button" class = "button" id="submit-button" 
                    onclick="submit()">
                    Submit
                </button>
                <button type="button" class="button" id="get-video"
                    onclick="getVideo()">
                    Get Video
                </button>
            </div>
        </div>        
        

        <div class="player">                        
            <video class="video-container">
                <p>No HTML5 Video is Supported on your Browser</p>
            </video>            

            <div class="controls">
                <div class="progress">
                    <div class="progress__filled"></div>
                </div>
                <button class="controls__btn playPauseBtn" title="Toggle Play">
                    ►
                </button>
            </div>
        </div>

        <div id="menu_container">
            <div class="menus" id="style1_menu">
            <select>
                <option value="0">Select Style 1 &nbsp; v</option>
                <option value="1">realistic</option>
                <option value="2">oilpainting</option>
                <option value="3">modern</option>
                <option value="4">cyberpunk</option>
                <option value="5">futuristic</option>
                <option value="6">Surrealist</option>
                <option value="7">trending on artstation</option>
                <option value="8">matte</option>
                <option value="9">elegant</option>
                <option value="10">illustration</option>
                <option value="11">epic</option>
                <option value="12">beautiful</option>
                <option value="13">dreamy</option>
                <option value="14">colorful</option>
                <option value="15">watercolors</option>
                <option value="16">highly detailed</option>
                <option value="17">grainy</option>
                <option value="18">psychedelic</option>
                </select>
            </div>
        
            <div class="menus" id="style2_menu">
                <select>
                <option value="0">Select Style 2 &nbsp; v</option>
                <option value="1">realistic</option>
                <option value="2">oilpainting</option>
                <option value="3">modern</option>
                <option value="4">cyberpunk</option>
                <option value="5">futuristic</option>
                <option value="6">Surrealist</option>
                <option value="7">trending on artstation</option>
                <option value="8">matte</option>
                <option value="9">elegant</option>
                <option value="10">illustration</option>
                <option value="11">epic</option>
                <option value="12">beautiful</option>
                <option value="13">dreamy</option>
                <option value="14">colorful</option>
                <option value="15">watercolors</option>
                <option value="16">highly detailed</option>
                <option value="17">grainy</option>
                <option value="18">psychedelic</option>
                </select>
            </div>

            <div class="menus" id="content_type" style="width:200px;">
                <select>
                <option value="0">Select Content Type &nbsp; v</option>
                <option value="1">Image</option>
                <option value="2">Photograph</option>
                <option value="3">Painting</option>
                <option value="4">Sketch</option>
                <option value="5">3D render</option>
                <option value="6">Digital paint</option>
                <option value="7">Composition</option>
                <option value="8">Analog photo</option>
                </select>
            </div>
        </div>

        <div id="frame">DESCRIZIONE</div>

        <script src="/static/client.js"></script>
        <script src="/static/app.js"></script>
        <script src="/static/menus.js"></script>
    </body>
</html>